package.xml
composer.phar
composer.lock
/tests/model_no_namespaced/Base/
/tests/Model/Base/
/tests/Model/Mapping/
/vendor/
BUILD
.idea/.name
.idea/copyright/profiles_settings.xml
.idea/dictionaries/David.xml
.idea/misc.xml
.idea/workspace.xml
.idea/php.xml
.idea/mandango.iml
.idea/vcs.xml
.idea/modules.xml
.idea/encodings.xml
